{% extends "native.html.twig" %}
{% set message = "" %}
{% set listanime = "" %}

{% block stylesheets %}
        {{ parent() }}
{% endblock %}
{% block body_home %}

<div class="o-page__card" >
            <div class="c-card u-mb-xsmall">
                <header class="c-card__header u-pt-large">
                <center>
                        <img src="{{ asset('uploads/log.jpg') }}" style="width: 200px" alt="JePilote">
                        </center>
                    <h1 class="u-h3 u-text-center u-mb-zero">Welcome back! Please login.</h1>
                </header>
                <div style="padding-top: 10px">
                </div>                
                 {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': ''}}) }}
                        <div class="c-field u-mb-small">
                                <label class="c-field__label" for="input2">Email:</label> 
                                {{ form_widget(form.email, {'attr':{'class':'c-input', 'style' : '', 'placeholder' : 'exemple: monemail@gmail.com'}}) }}
                                {{ form_errors(form.email) }}
                        </div>
                        <div class="c-field u-mb-small">
                                <label class="c-field__label" for="input2">Pseudo:</label> 
                                {{ form_widget(form.username, {'attr':{'class':'c-input', 'style' : '', 'placeholder' : 'exemple: player2'}}) }}
                                {{ form_errors(form.username) }}
                        </div>
                        <div class="c-field u-mb-small">
                                <label class="c-field__label" for="input2">Mot de passe::</label> 
                                {{ form_widget(form.plainPassword.first, {'attr':{'class':'c-input', 'style' : '', 'placeholder' : 'password'}}) }}
                                {{ form_errors(form.plainPassword.first) }}
                        </div>
                        <div class="c-field u-mb-small">
                                <label class="c-field__label" for="input2">Répétez le mot de passe::</label> 
                                {{ form_widget(form.plainPassword.second, {'attr':{'class':'c-input', 'style' : '','placeholder' : 'répéter le password'}}) }}
                                {{ form_errors(form.plainPassword.second) }}
                        </div>
                                <button class="c-btn c-btn--info c-btn--fullwidth" value="{{ 'registration.submit'|trans }}" type="submit">Inscription</button>
                                    {{ form_end(form) }}

                                <span class="c-divider c-divider--small has-text u-mv-medium">Login via social networks</span>

                                <div class="o-line">
                                    <a class="c-icon u-bg-twitter" href="#!">
                                        <i class="fa fa-twitter"></i>
                                    </a>

                                    <a class="c-icon u-bg-facebook" href="#!">
                                        <i class="fa fa-facebook"></i>
                                    </a>

                                    <a class="c-icon u-bg-pinterest" href="#!">
                                        <i class="fa fa-pinterest"></i>
                                    </a>

                                    <a class="c-icon u-bg-dribbble" href="#!">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </div>

            <div class="o-line">
                <a class="u-text-mute u-text-small" href="register.html">Don’t have an account yet? Get Started</a>
                <a class="u-text-mute u-text-small" href="forgot-password.html">Forgot Password?</a>
            </div>
        </div>
{% endblock body_home %}
